.footer {
  background-color: #2e8b57;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 1px) {
  .footer {
    position: static;
    padding: 20px;
  }
}